{% extends 'base.html' %}
{% load static %}
{% load humanize %}

    {% block title %}Homebase Realty: The smart way to buy and rent properties{% endblock %}
    {% block content %}
	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{% static 'img/bg.jpg' %}">
		<div class="container hero-text text-white">
			<h1>Find A Place Of Your Choice</h1>
			<p>Search real estate property records, houses, condos, land and more on yourwebsite.com®.</p>
			<!--<a href="#" class="site-btn">VIEW DETAIL</a>-->

			<!-- Filter form section -->
			<div class="filter-search">
				<div class="container">
					<form class="filter-form"  action="{% url 'realty:search' %}">
						<input type="text" class="search" name="search" placeholder="Enter your preferred location, city or features">
						
						<button class="site-btn fs-submit">Search</button>
					</form>
				</div>
			</div>
			<!-- Filter form section end -->

		</div>
		
	</section>
	<!-- Hero section end -->


		<!-- feature section -->
	<section class="feature-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>Our Hottest Deals</h3>
				<p>Browse through our best deals available for rent, sale and investment</p>
			</div>
			<div class="row">
				{% for property in latest %}
				<div class="col-lg-4 col-md-6">
					<!-- feature -->
					<div class="feature-item">
						<a href="{{property.get_absolute_url}}">
							<div class="feature-pic set-bg" data-setbg="{{property.images.all.first.image.url}}">
								<div class="{% if property.kind == 'sale' %}sale-notic{% else %}rent-notic{% endif %}">
									FOR {{property.kind}}
								</div>
							</div>
						</a>
						<div class="feature-text">
							<div class="text-center feature-title">
								<a href="{{property.get_absolute_url}}"><h5>{{property}}</h5></a>
								<p><i class="fa fa-map-marker"></i> {{property.address}}</p>
							</div>
							<div class="room-info-warp">
								<div class="room-info">
									{% for item in property.get_features %}
									<div class="{% cycle 'rf-left' 'rf-right' %}">
										{% for each in item %}
										<p><i class="fa fa-check-circle-o"></i> {{each}}</p>
										{% endfor %}
									</div>
									{% endfor %}

								</div>
								<div class="room-info">

									<div class="">
										<p><i class="fa fa-clock-o"></i> {{property.date_created|timesince}} ago</p>
									</div>	
								</div>
							</div>
							<a href="{{property.get_absolute_url}}" class="room-price">&#8358;{{property.price|floatformat:"0"|intcomma}}</a>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>
	<!-- feature section end -->
	

	<!-- Services section -->
	<section class="services-section spad set-bg" data-setbg="{% static 'img/service-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img src="{% static 'img/service.jpg' %}" alt="">
				</div>
				<div class="col-lg-5 offset-lg-1 pl-lg-0">
					<div class="section-title text-white">
						<h3>IF IT IS ABOUT REAL ESTATE, THEN YOU ARE IN THE RIGHT PLACE</h3>
						<p>We have the best offers on properties</p>
					</div>
					<div class="services">
						<div class="service-item">
							<i class="fa fa-home"></i>
							<div class="service-text">
								<h5>Leasing and Selling</h5>
								<p>At homebase, we have made it our priority to only provide comfortable lands and homes available for sale and rent.</p>
							</div>
						</div>
						
						<div class="service-item">
							<i class="fa fa-briefcase"></i>
							<div class="service-text">
								<h5>Property Management and Investment</h5>
								<p>We have the best measures at our disposal for managing properties.
								This is why our investment packages are the best you can find in Nigeria. They are highly profitable</p>
							</div>
						</div>

						<div class="service-item">
							<i class="fa fa-comments"></i>
							<div class="service-text">
								<h5>Consultancy</h5>
								<p>If it's about real estate, then we would love to help you. Reach out to  us and get the best consultation service money can buy.</p>
							</div>
						</div>
					</div>
					<div class="section-title text-white" id="reach-us">
						<br>
						<p>Please, feel free to contact us via our telephone number
							(<a href="#" style="color: #f4730b;">Phone number</a>) or e-mail address
							(<a href="#" style="color: #f4730b;">email@email.com</a>).
							You can also leave us a message by
							<a href="#" data-toggle="modal" data-target="#modalContact" style="color: #f4730b;">clicking here</a>
							<!-- &#129303; &#128521; &#x1f609; -->
						</p>
						{% if messages %}
                                {% for message in messages %}
                              <div class="alert {{message.tags}} alert-dismissible fade show" style="margin-top:10px" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" style="color: black !important;">&times;</span>
                                    </button>
                                    {{message}}
                              </div>
                                {% endfor %}
                                <br>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->


	<!-- feature category section -->
	<section class="feature-category-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>LOOKING FOR PROPERTY?</h3>
				<p>Let us help you get the kind of property you are looking for &#128521;</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 f-cata">
					<a href="{% url 'realty:properties' 'residential' %}">
						<img src="{% static 'img/feature-cate/2.jpg' %}" alt="">
						<h5>Residential Properties</h5>
					</a>
					
				</div>
				<div class="col-lg-4 col-md-6 f-cata">
					<a href="{% url 'realty:properties' 'commercial' %}">
						<img src="{% static 'img/feature-cate/4.jpg' %}" alt="">
						<h5>Commercial Properties</h5>
					</a>
					
				</div>
				<div class="col-lg-4 col-md-6 f-cata">
					<a href="{% url 'realty:properties' 'land' %}">
						<img src="{% static 'img/alessandra-turco-mceL7eia1uE-unsplash.jpg' %}" alt="">
						<h5>Lands</h5>
					</a>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- feature category section end-->

	<!-- Review section -->
	<section class="review-section set-bg" data-setbg="{% static 'img/review-bg.jpg' %}">
		<div class="container">
			<div class="review-slider owl-carousel">
				<div class="review-item text-white">
					<div class="clint-pic set-bg" data-setbg="{% static 'img/review/2.jpg' %}"></div>
					<p>“This is how testimonials given by your customers and clients will appear on your website when you buy homebase. Every section of homebase was built to instill trust in your prospective and existing customers”</p>
					<h5>Abayomi Olanrewaju</h5>
					<span>Developer at Tolufy</span>
					
				</div>
				<div class="review-item text-white">
					<div class="clint-pic set-bg" data-setbg="{% static 'img/review/2.jpg' %}"></div>
					<p>“Thanks to Homebase, I invested a few millions in one of their managed properties. Now, I earn about 20 percents with annual increase to my return on investment. Homebase has the best offers in real estate investment”</p>
					<h5>Onyinye Chuka</h5>
					<span>MEP's Director</span>
					
				</div>
				<div class="review-item text-white">
					<div class="clint-pic set-bg" data-setbg="{% static 'img/review/2.jpg' %}"></div>
					<p>“I highly recommend homebase to anyone. Right from my first phone call to  the day I finally bought a property from them, I got the best treatment I ever had from a realty company.”</p>
					<h5>Usman Abubakar</h5>
					<span>Foreign Exchange Expert</span>
					
				</div>
			</div>
		</div>
	</section>
	<!-- Review section end-->

	{% if latest_blog %}
	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>LATEST ON OUR BLOG</h3>
				<p>We bring to you everything you need to know about real estate</p>
			</div>
			<div class="row">
				{% for each in latest_blog %}
				<div class="col-lg-4 col-md-6 blog-item">
					<img src="{{each.image.url}}" alt="">
					<h5><a href="{{each.get_absolute_url}}">{{each.title}}</a></h5>
					<div class="blog-meta">
						<span><i class="fa fa-user"></i>{{each.author.username}}</span>
						<span><i class="fa fa-clock-o"></i>{{each.publish|date:"d M, Y"}}</span>
					</div>
					<a href="{{each.get_absolute_url}}"><p>{{each.body|safe|truncatewords:20}}</p></a>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Blog section end -->
	{% endif %}

	<!-- Contact Modal -->
	<div class="container">
    	<div class="col-md-12">
        	<div class="modal fade right" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  				aria-hidden="true" data-backdrop="false">
  				<div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
    				<div class="modal-content remodal">
				      <!--Header-->
				      <div class="modal-header" style="background-color:#f4730b;color:#ffffff;" >
				        <p class="heading lead" style="color: #ffffff">Leave Us A Message</p>

				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true" style="color:#ffffff;">×</span>
				        </button>
				      </div>

							<!--Body-->
			      		<div class="modal-body">

			       			<div class="">

			        			<form action="#reach-us" method="post" id="contact-form">
			            				{% csrf_token %}

				                        <div class="form-group homebase-form-input">
				                          <input type="text" class="form-control shadow-none" id="name" name="name" placeholder="Your name" required>
				                        </div>

				                        <div class="form-group homebase-form-input">
				                          <input type="text" class="form-control shadow-none" id="phone" name="phone" placeholder="Telephone number" required>
				                        </div>



				                      <div class="form-group homebase-form-input">
				                        <input type="email" class="form-control shadow-none" id="email" name="email" placeholder="E-mail address" required>
				                      </div>

				                      <div class="form-group">
				                          <textarea class="form-control shadow-none homebase-form-textArea" name="message" placeholder="Message" rows="5" required></textarea>
				                      </div>

				                      <button type="submit" class="btn send-btn" name="contact">Send Message</button>
			                    </form>

			    			</div>

			  			</div>

 					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Close Contact Modal -->

	{% endblock %}